Crea un archivo .env.example con los nombres de las variables pero sin valores reales. Este archivo SÍ se sube a Git para que otros desarrolladores sepan qué variables necesitan confi gurar.
SECRET_KEY=
DEBUG=True
DB_NAME=
DB_USER=
DB_PASSWORD=